@using System.Text.Encodings.Web

@code {



    [Parameter]
    public string Name{ get; set; }
    [Parameter]
    public string Content{ get; set; }
    [Parameter]
    public DateTime Recived{ get; set; }
    [Parameter]
    public bool IsSystemMessage{ get; set; }
    [Parameter]
    public string Key{ get; set; }

    string GetText()
    {
        string raw = Content;
        raw = HtmlEncoder.Default.Encode(raw);
        raw = ConvertUrlToImage(raw);
        raw = ConvertUrlToLink(raw);
        return raw;
    }
    string ConvertUrlToImage(string input)
    {
        return System.Text.RegularExpressions.Regex.Replace(
           input,
           @"img-(\s?s?https?://[-_.!~*'()a-zA-Z0-9;/?:@&=+$,%#]+$)", "<a href=\"$1\" class=\"text-center\"><img src=\"$1\"  class=\"img-fluid img-thumbnail\" style=\"max-width: 100%; height: auto;\" alt=\"$1\" /></div>"
        );
    }
    string ConvertUrlToLink(string input)
    {
        return System.Text.RegularExpressions.Regex.Replace(
           input,
           @"(\s?s?https?://[-_.!~*'()a-zA-Z0-9;/?:@&=+$,%#]+$)", "<a href=\"$1\" target=\"_blank\">$1</a>"
        );
    }
        }

    <div class="toast show" data-bs-animation="true" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            @if (IsSystemMessage)
            {
                <strong class="fs-5"><i class="bi bi-gear-wide-connected"></i></strong>
            }
            else
            {
                <strong class="fs-5"><i class="bi bi-person"></i></strong>
            }
            &nbsp;
            <strong class="me-auto">@Name</strong>
            <small class="text-muted">@Recived.ToString("yyyy/MM/dd HH:mm")</small>
        </div>
        <div class="toast-body">
        @((MarkupString)GetText())
        </div>
    </div>