 <div class="card">
    <div class="card-header">
        <i class="bi bi-person-fill"></i>
        <span>@Name</span>
    </div>
    <div class="card-body">
        @Content
    </div>
    <div class="card-footer text-muted">
        @Recived.ToString("yyyy/MM/dd hh:mm")
    </div>
</div>
@code {
    [Parameter]
    public string Name{ get; set; }
    [Parameter]
    public string Content{ get; set; }
    [Parameter]
    public DateTime Recived{ get; set; }
}
